* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

hr {
  max-width: 1024px;
  width: 100%;
  height: 2px;
  color: rgba(211, 211, 211, 0.5);
  border: none;
  background-color: rgba(211, 211, 211, 0.2);
  margin-top: 50px;
  margin-bottom: 30px;
}

div,
article {
    display: flex;
    max-width: 1024px;
    width: 100%;
}

.name {
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.name h2,
.uppercase {
  color: rgb(0, 191, 255);
}

.name h2 {
  font-size: 20px;
  font-weight: normal;
}

.titles {
  width: 50%;
  align-items: baseline;
  justify-content: space-between;
}

.name img {
    width: 100px;
}

.contacts {
  width: 100%;
  margin-top: 26px;
  font-size: 16px;
}

.contacts__left {
  width: 50%;
  flex-direction: column;
}

.contacts__right {
  width: 50%;
  flex-direction: column;
}

.contact {
  margin-bottom: 10px;
}

.uppercase {
  width: 40%;
  text-transform: uppercase;
}

.address {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.location {
  width: 60%;
}

.title {
  width: 35%;
  max-width: 270px;
  flex-direction: column;
}

.profile p {
  line-height: 1.5em;
}

.employment,
.education,
.courses {
  flex-direction: column;
}

.employment__title,
.education__title,
.courses__title {
  width: 100%;
  margin-bottom: 30px;
}

.employment__description:not(:last-child) {
  margin-bottom: 10px;
}

.duration,
.year {
  font-size: 14px;
}

.where {
  flex-direction: column;
}

.company,
.university {
  color: rgb(150, 150, 150);
}

.skills__list,
.languages__list {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.skill,
.language {
  width: 50%;
  display: flex;
  align-items: center;
}

.skill__description,
.languages__description {
  width: 60%;
}

.skill__points {
  width: 40%;
}

i {
  width: 10px;
  height: 10px;
  background-color: lightgray;
  border-radius: 50%;
}

i:not(:last-child) {
  margin-right: 10px;
}

.skill:first-child i:not(:last-child),
.skill:nth-child(2) i:not(:last-child),
.skill:nth-child(3) i:not(:last-child),
.skill:nth-child(4) i:not(:last-child),
.skill:nth-child(5) i:not(:last-child),
.skill:last-child i:not(:last-child) {
  background-color: rgb(0, 191, 255);
}

.skill:nth-child(3) i:nth-child(4),
.skill:nth-child(4) i:nth-child(4) {
  background-color: lightgray;
}

.languages {
  margin-bottom: 50px;
}

.language {
  justify-content: space-between;
}

.language:first-child i:not(:last-child) {
  background-color: rgb(0, 191, 255);
}

.language:first-child i:nth-child(4) {
  background-color: lightgray;
}

.language:last-child i {
  background-color: rgb(0, 191, 255);
}

@media only screen and (max-width: 1070px) {
  body {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 870px) {
  .titles {
    width: 60%;
  }

  .uppercase {
    width: 30%;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 750px) {
  .titles {
    width: 65%;
  }

  .uppercase {
    width: 25%;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 696px) {
  .titles {
    width: 70%;
  }

  .contacts {
    flex-direction: column;
  }

  .contacts__left,
  .contacts__right {
    width: 100%;
  }

  .uppercase {
    width: 25%;
    text-transform: uppercase;
  }

  .skills__list,
  .languages__list {
    flex-direction: column;
  }

  .skill,
  .language {
    width: 100%;
  }

  .skill:not(:last-child),
  .language:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 640px) {
  .titles {
    flex-direction: column;
  }

  .titles h1 {
    margin-bottom: 18px;
  }
}

@media only screen and (max-width: 570px) {
  .titles {
    width: 60%;
  }
  
  .title {
    width: 45%;
  }
}

@media only screen and (max-width: 500px) {
  .titles {
    width: 75%;
  }
}

@media only screen and (max-width: 464px) {
  .title {
    width: 60%;
  }
}

@media only screen and (max-width: 440px) {
  .titles {
    width: 68%;
    flex-direction: column;
  }

  .titles h1 {
    margin-bottom: 18px;
  }

  .profile,
  .skills,
  .languages {
    flex-direction: column;
  }

  .profile__title,
  .skills__title,
  .languages__title {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 371px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contacts {
    font-size: 14px;
  }
}